/* GENERAL RULES -------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #e2e3e4;
    font-size: 20px;
}

.centered {
    border-radius: 10px;
    background-color: #fff;
    width: 70%;
    min-height: 500px;
    margin: 20px auto;
    padding-bottom: 20px;
}

/* HEADER RULES -------------------- */
header {
    background-color: #fff;
    width: 100%;
    margin-bottom: 100px;
    padding: 20px 0;
}

header img, header h1{
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    line-height: 70px;
}

header h1 {
    font-size: 2.5rem;
}

/* MAIN RULES -------------------- */
    /* nav rules */
nav {
    padding: 20px 0;
    border-bottom: 5px solid #e2e3e4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav button{
    margin-top: 10px;
    font-size: 1.2rem;
    padding: 10px 15px;
    border: 2px solid #d3d2d2 ;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

button {
    margin-left: 20px;
}

button.tasks {
    background-color: rgb(100, 170, 235);
    color: #fff;
}

#add_task {
    width: 100%;
    font-size: 1.3rem;
    font-weight: lighter;
}

    /* section rules */
main section {
    width: 80%;
    margin: auto;    
}

ul {
    margin-bottom: 25px;
}

li {
    
    font-size: 1.1rem;
    margin: 15px 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li.done {
    text-decoration: line-through;
}

i.fas {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
}

.completed {
}